.now-playing-bar {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: #282828;
}

.now-playing-bar_left {
  width: 30%;
  display: flex;
}

.now-playing-bar_center {
  width: 40%;
}

.now-playing-bar_right {
  width: 30%;
}

.buttons {
  display: flex;
  justify-content: center;
  text-align: center
}

i {
  color: #FFF;
  font-size: 32px;
}

.art {
  height: 90px;
  width: 90px;
  margin: 0px;
  background: #000;
}

.info {
  color: #ebebeb;
  margin: 10px;
}

.title {
  color: #fff;
}

.subtitle {
  color: #b3b3b3;
}

.btn {
  width: 40px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
}

.playhead {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #b3b3b3;
}

.playhead .time {
  text-transform: none;
  line-height: 16px;
  letter-spacing: .015em;
  min-width: 40px;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.playhead .progress {
  width: 80%;
  height: 4px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.2);
}

.playhead .progress-current {
  /*width: 70%;*/
  height: 4px;
  border-radius: 2px;
  background: rgb(0, 255, 248);
}

.playhead .length {
  text-transform: none;
  line-height: 16px;
  letter-spacing: .015em;
  min-width: 40px;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
