<div class="now-playing-bar">
  <div class="now-playing-bar_left">
    <div class="art">
      <img src="" alt="">
    </div>
    <div class="info">
      <div class="song title">{{songInfo.title}}</div>
      <div class="artist subtitle">{{songInfo.artist}}</div>
    </div>
  </div>
  <div class="now-playing-bar_center">
    <div class="player-controls">
      <div class="buttons">
<!--        <div class="shuffle btn"></div>-->
        <div class="prev btn" (click)="skip('prev')">
          <i class="material-icons">skip_previous</i>
        </div>
        <div class="playpause btn" (click)="playPause()">
          <i class="material-icons">{{playIcon}}</i>
        </div>
        <div class="next btn" (click)="skip('next')">
          <i class="material-icons">skip_next</i>
        </div>
<!--        <div class="repeat btn"></div>-->
      </div>
      <div class="playhead">
        <div class="time">1:45</div>
        <div class="progress" (mousedown)="mousedown()">
          <div class="progress-current" [style.width]="progress + '%'"></div>
        </div>
        <div class="length">2:36</div>
      </div>
    </div>
  </div>
  <div class="now-playing-bar_right">

  </div>
</div>
