html {
    background: #140A1C;
}

#man {
    height: 400px;
    background-image: linear-gradient(#000000,#1D0E2A);
    margin-bottom: 20px;
    color: white;
}

#fuel {
    background-color: white;
    height: 2px;
    transition: width 0.5s;
}

#progress {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.wordDisplay {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-bottom: 4px;
    border-style: none none solid none;
    border-color: white;
    margin: 2px;

    color: white;
}

#keys .btn {
    padding-left: 6px;
    padding-right: 6px;
    background-color: #4C2B64;
}

.disabled {
    opacity: 0;
}